<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>Overt</title>
    <link id='stylesheet' rel='stylesheet' href='/assets/light.standalone.css' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />

    <script src="/assets/jquery.min.js"></script>
    <script src="/js/step_editor.js"></script>
    <script src="/js/jsoneditor.min.js"></script>
    <script src="/js/jsoneditor-wrapper.js"></script>

    <script src="/js/jquery.modal/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="/js/jquery.modal/jquery.modal.min.css" />
    <link rel="stylesheet" href="/assets/jsoneditor.min.css" />
    <link rel="stylesheet" href="/js/pretty-print-json/pretty-print-json.css">
    <script src="/js/pretty-print-json/pretty-print-json.min.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>