<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>Overt</title>
    <link id='stylesheet' rel='stylesheet' href='/dist/light.standalone.css' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />

    <link rel="stylesheet" href="/assets/jsoneditor.min.css" />
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/js/step_editor.js"></script>
    <script src="/js/jsoneditor.min.js"></script>
    <script src="/js/jsoneditor-wrapper.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
  </head>

  <body>
    <%= yield %>
  </body>
</html>