<script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
<link type="text/css" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css" />
<script type="text/javascript" src="/assets/event-stream.js"></script>
<script type="text/javascript" src="/assets/event-visualization.js"></script>
<script type="text/javascript" src="/assets/event-creation-app.js"></script>
<link type="text/css" src="/assets/application.css" />

<div id='mynetwork' style="height:300px; width: 800px; border: 1px solid black;"></div>
<div id="new-sequence">
  <div id='save-sequence'>
    <input v-model="message" /><br />
    <button @click="saveEvent(message)" type="button">SAVE</button>
  </div>

  <hr />
  <button id="new-step" @click="addBlankStep()" type="button">step: add a new one</button>
  <hr />
  <div id="edit-node" class="node-style">
    <h3>Edit node: <span>{{ network.selected.step }}</span></h3>
    <table>
      <tr>
        <td><label>Name</label></td>
        <td><input v-model="network.selected.step.name" /></td>
      </tr>
      <tr>
        <td><label>Type</label></td>
        <td><input v-model="network.selected.step.type" /></td>
      </tr>
      <tr>
        <td><label>Step Guid</label></td>
        <td><input v-model="network.selected.step.guid" /></td>
      </tr>
    </table>
    <button @click="refreshStep(network.selected)" type="button">step: save</button>
  </div>
  <hr />
  <h3>Link nodes together: <span v-if="nextClickIsFrom || nextClickIsTo">Select a node</span></h3>
  <div class="node-style">
    <span v-if="network.selectedFrom">{{ network.selectedFrom.label }}</span>
  </div>
  <div class="node-style">
    <span v-if="network.selectedTo">{{ network.selectedTo.label }}</span>
  </div>
  <button @click="addEdge(network.selectedFrom, network.selectedTo)" type="button">step: link</button>
  <button @click="removeEdge(network.selectedFrom, network.selectedTo)" type="button">step: un-link</button>
</div>
<script type="text/javascript">
  const diagram = createBlankNetworkDiagram('mynetwork');
  const app = buildEventCreationApp('#new-sequence', diagram);
  setupDefaultInputs(diagram);

  function setupDefaultInputs() {
    const pearStep = { name: 'Pear',   type: 'EventHandler', guid: 'pear' }
    const bananaStep = { name: 'Banana', type: 'EventHandler', guid: 'banana', next_steps: [pearStep] };
    const orangeStep = { name: 'Orange', type: 'EventHandler', guid: 'orange', next_steps: [bananaStep] };
    const appleStep = { name: 'Apple',  type: 'EventHandler', guid: 'apple', next_steps: [orangeStep] };
    var steps = { first_step: appleStep };
    addStepAsNode(diagram, steps.first_step);
  }
</script>
