<div class="row">

  <div class="col-md-4">

    <div>
      <select id="step_type">
        <option value="EventFormatter">EventFormatter</option>
        <option value="JsonParser">JsonParser</option>
        <option value="WebRequest">WebRequest</option>
        <option value="Trigger">Trigger</option>
        <option value="HtmlParser">HtmlParser</option>
      </select>
    </div>

  </div>

</div>

<div class="row">

  <div class="col-md-4">

    <div class="box box-info">
      <div class="box-header">
        <h3 class="box-title">Incoming Event</h3>
      </div>
      <div class="box-body pad">
        <div id="incoming_data_editor"></div>
      </div>
    </div>

  </div>

  <div class="col-md-4">

    <div class="box box-info">
      <div class="box-header">
        <h3 class="box-title">Action</h3>
      </div>
      <div class="box-body pad">
        <button id="runStep" type="button" class="btn btn-block btn-primary">Run</button>
      </div>
    </div>

    <div class="box box-info">
      <div class="box-header">
        <h3 class="box-title">Step</h3>
      </div>
      <div class="box-body pad">
        <div id="step_editor"></div>
      </div>
    </div>

  </div>

  <div id="outgoingEvents" class="col-md-4">

    <div id="outgoingEventTemplate" class="box box-info" style="display:none">
      <div class="box-header">
        <h3 class="box-title">Outgoing Event</h3>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
          </button>
        </div>
      </div>
      <div class="box-body pad">
        <div data-future="editor"></div>
      </div>
    </div>

  </div>

</div>

<script type="text/javascript">

var func = function() {
  
  var stepRunner = StepEditor({
    runStepUrl: '/starter/run_step',
    incomingEventEditorId: 'incoming_data_editor',
    stepEditorId: 'step_editor',
    runStepButton: function() { return $('#runStep') },
    outgoingEvents: function() { return $('#outgoingEvents') },
    outgoingEventTemplate: function() { return $('#outgoingEventTemplate') }
  });

  var defaultSteps = {
    'EventFormatter': { type: 'EventFormatter', config: {
      'merge_mode': 'merge',
      'name': 'Event Formatter',
      'message': 'Hello {{first_name}}',
      'instructions': {
      'full_name': '{{first_name}} {{last_name}}'
      }
    }},
    'WebRequest': { type: 'WebRequest', config: {
      'merge_mode': 'merge',
      'name': 'Web Request',
      'message': 'Hello {{first_name}}',
      'url': '{{url}}',
      'no_body': 'true'
    }},
    'Trigger': { type: 'Trigger', config: {
      'merge_mode': 'merge',
      'name': 'Trigger',
      'message': 'Hello {{first_name}}',
      'rules': [ { path: 'first_name', value: 'Darren', type: '==' } ],
    }},
    'HtmlParser': { type: 'HtmlParser', config: {
      'merge_mode': 'merge',
      'name': 'HTML Parser',
      'message': 'Link for {{name}}',
      'path': 'html',
      'output_as_a_single_event': 'false',
      'single_event_path': 'records',
      'extract': { url: { css: 'a', value: '@href' }, name: { css: 'a', value: './node()' } }
    }},
    'JsonParser': { type: 'JsonParser', config: {
      'merge_mode': 'merge',
      'name': 'JSON Parser',
      'message': 'Hello {{first_name}}',
      'path': 'json'
    }}
  };

  var incomingEvents = {
    'EventFormatter': {
      first_name: 'Darren',
      last_name: 'Cauthon'
    },
    'WebRequest': {
      url: 'https://google.com',
    },
    'Trigger': {
      first_name: 'Darren',
      last_name: 'Cauthon'
    },
    'HtmlParser': {
      html: '<html><body><a href="https://google.com">google</a><a href="https://yahoo.com">yahoo</a></body></html>',
    },
    'JsonParser': {
      json: '{ "first_name": "Darren", "last_name": "Cauthon" }',
    }
  };
  
  stepRunner.loadStep(defaultSteps.JsonParser, incomingEvents.JsonParser);


  var loadStepType = function(){
    var step_type = $('#step_type').val();
    stepRunner.loadStep(defaultSteps[step_type], incomingEvents[step_type]);
  };

  $('#step_type').val('JsonParser').change(loadStepType);
  
};

document.addEventListener('DOMContentLoaded', func);

</script>
