<div class="row networkViewRow">

  <div class="col-md-3">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Details</h3>
      </div>
      <div class="box-body">
        <form role="form">
	  <div class="form-group">
	    <label>Id</label>
	    <input id="id" type="text" class="form-control" placeholder="Id">
            <button id="SaveWorkflow" type="button" class="btn btn-block btn-primary">Save</button>
	  </div>
	</form>
      </div>
      <div class="box-footer">
      </div>
    </div>
  </div>

  <div class="col-md-9">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Flow</h3>
	<button id="OpenNewStepView" type="button" class="btn btn-block btn-primary">Add New Step</button>
      </div>
      <div class="box-body">
        <div id="mynetwork" style="height:400px"></div>
      </div>
      <div class="box-footer">
      </div>
    </div>
  </div>

</div>

<div class="row stepEditorRow" style="display:none">

  <div class="col-md-4">
    <div class="box box-info">
      <div class="box-body pad">
        <div class="form-group">
          <label for="ParentSteps">Parents</label>
          <select id="ParentSteps" name="ParentSteps" class="form-control select2" multiple="multiple" style="width:100%">
	  </select>
	</div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="box box-info">
      <div class="box-body pad">
        <button type="button" class="openWorkflowView btn btn-block btn-secondary">Cancel</button>
        <button id="saveStep" type="button" class="btn btn-block btn-primary">Save</button>
      </div>
    </div>
  </div>

</div>

<div class="row stepEditorRow" style="display:none">

  <div class="col-md-4">

    <div class="box box-info">
      <div class="box-header">
        <h3 class="box-title">Incoming Event</h3>
      </div>
      <div class="box-body pad">
        <div id="incoming_data_editor"></div>
      </div>
    </div>

  </div>

  <div class="col-md-4">

    <div class="box box-info">
      <div class="box-header">
        <h3 class="box-title">Action</h3>
      </div>
      <div class="box-body pad">
        <button id="runStep" type="button" class="btn btn-block btn-primary">Run</button>
      </div>
    </div>

    <div class="box box-info">
      <div class="box-header">
        <h3 class="box-title">Step</h3>
      </div>
      <div class="box-body pad">
        <div id="step_editor"></div>
      </div>
    </div>

  </div>

  <div id="outgoingEvents" class="col-md-4">

    <div id="outgoingEventTemplate" class="box box-info" style="display:none">
      <div class="box-header">
        <h3 class="box-title">Outgoing Event</h3>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
          </button>
        </div>
      </div>
      <div class="box-body pad">
        <div data-future="editor"></div>
      </div>
    </div>

  </div>

</div>

<div class="row newStepRow" style="display:none">

  <div class="col-md-4">

    <div class="box box-info">
      <div class="box-header">
        <h3 class="box-title">New Step</h3>
      </div>
      <div class="box-body pad">
        <button type="button" class="openWorkflowView btn btn-block btn-secondary">Cancel</button>
        <label for="newStepId">New Step Id</label>
        <input id="newStepId" name="newStepId" type="text" class="form-control">
        <label for="newStepName">New Step Name</label>
        <input id="newStepName" name="newStepName" type="text" class="form-control">
        <label for="newStepType">New Step Type</label>
        <select id="newStepType" name="newStepType" class="form-control" style="width:100%">
          <option value="ManualStart">ManualStart</option>
          <option value="WebRequest">WebRequest</option>
        </select>
        <button type="button" id="AddNewStep" class="btn btn-block btn-primary">Next</button>
      </div>
    </div>

  </div>

</div>

<script type="text/javascript">

var func = function() {

  var openWorkflowView = function() {
    $('.stepEditorRow').hide();
    $('.newStepRow').hide();
    $('.networkViewRow').show();
  }

  var openNewStepView = function() {
    $('.stepEditorRow').hide();
    $('.newStepRow').show();
    $('.networkViewRow').hide();
  }

  var stepRunner = StepEditor({
    runStepUrl: '/starter/run_step',
    incomingEventEditorId: 'incoming_data_editor',
    stepEditorId: 'step_editor',
    runStepButton: function() { return $('#runStep') },
    outgoingEvents: function() { return $('#outgoingEvents') },
    outgoingEventTemplate: function() { return $('#outgoingEventTemplate') }
  });


  $.getJSON('/workflows/json/<%= @workflow.id %>', function(data) {

    var workflow = data.workflow;

    for(var i = 0; i < workflow.steps.length; i++)
      workflow.steps[i].label = workflow.steps[i].name || workflow.steps[i].id;

    var edges = new vis.DataSet([]);

    var getEdgeIdFor = function(step, parent_step_id) {
      return step.id + '_' + parent_step_id;
    };

    var loadEdgesFor = function(step) {
      for (var j = 0; j < step.parent_step_ids.length; j++)
        edges.add( {
                     id: getEdgeIdFor(step, step.parent_step_ids[j]),
                     from: step.id,
                     to: step.parent_step_ids[j]
                   } );
    };

    var removeEdgesFor = function(step) {
      for(var i = 0; i < step.parent_step_ids.length; i++){
        var id = getEdgeIdFor(step, step.parent_step_ids[i]);
	console.log('removing ' + id);
        edges.remove(id);
      }
    };

    for(var i = 0; i < workflow.steps.length; i++)
      if (workflow.steps[i].parent_step_ids)
        loadEdgesFor(workflow.steps[i]);

    var findStep = function(stepId) {
      for(var i = 0; i < workflow.steps.length; i++)
        if (workflow.steps[i].id == stepId)
          return workflow.steps[i];
      return undefined;
    };

    var editStep = function(step) {
      step = JSON.parse(JSON.stringify(step));
      delete step.method;
      delete step.label;
      delete step.parent_step_ids;
      stepRunner.loadStep(step, {});
      $('.stepEditorRow').show();
      $('.newStepRow').hide();
      $('.networkViewRow').hide();

      $('#ParentSteps').val(step.parent_step_ids).trigger('change');
    };

    var nodes = new vis.DataSet(workflow.steps);

    var saveStep = function(newStep, oldStep) {

      newStep.parent_step_ids = $('#ParentSteps').val();

      removeEdgesFor(oldStep);
      removeEdgesFor(newStep);
      loadEdgesFor(newStep);

      for(var property in newStep)
        oldStep[property] = newStep[property];
      oldStep.label = newStep.name || newStep.id;

      nodes.update(oldStep);

      openWorkflowView();
    };

    var container = document.getElementById('mynetwork');
    var options = {};
    var data = {
      nodes: nodes,
      edges: edges
    };
    var network = new vis.Network(container, data, options);

    network.on('doubleClick', function(params) {
      var step_id = params.nodes[0];
      var step = findStep(step_id)
      editStep(step);
    });

    $('#saveStep').click(function() {
      var newStep = stepRunner.getStep();
      var oldStep = findStep(newStep.id);
      saveStep(newStep, oldStep);
    });

    var saveWorkflow = function() {
      console.log(workflow);

      jQuery.post('/workflows/json/<%= @workflow.id %>', { workflow: workflow }, function(data) {
        console.log(data);
      });
    };

    var loadAllParentSteps = function(workflow, selector) {
      var parentSteps = workflow.steps
                                .map(function(x){ return { id: x.id, name: x.name } })
                                .map(function(x){ return $('<option>').val(x.id).html(x.name) });
      selector.find('option').remove().end();
      for(var i = 0; i < parentSteps.length; i++)
        selector.append(parentSteps[i]).trigger('change');

      return undefined;
    };
    loadAllParentSteps(workflow, $('#ParentSteps'));

    $('#AddNewStep').click(function(){
      var step = {
                   id: $('#newStepId').val(),
                   name: $('#newStepName').val(),
                   label: $('#newStepName').val(),
                   type: $('#newStepType').val(),
                   config: {}
                 };
      workflow.steps.push(step);
      nodes.add(step);
      loadAllParentSteps(workflow, $('#ParentSteps'));
      editStep(step);
    });

    $('#id').val(workflow.id);

    $('#SaveWorkflow').click(saveWorkflow);

  });

  $('.openWorkflowView').click(openWorkflowView);
  $('#OpenNewStepView').click(openNewStepView);
};

jQuery(func);

</script>
