<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
<link type="text/css" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/pusher/4.3.1/pusher.min.js"></script>
<script type="text/javascript" src="/assets/event-stream.js"></script>
<script type="text/javascript" src="/assets/event-visualization.js"></script>

<h1>Aggregate Events</h1>

<div id='mynetwork' style="height:300px; width: 800px; border: 1px solid black;"></div>

<script type="text/javascript">

  const diagram = Giraffe.createDiagram('mynetwork');

  Events.findAll().then(events => diagram.addEvents(events));

  listenForPusherEvents(event => diagram.addEvent(event));

</script>
