<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
<link type="text/css" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/pusher/4.3.1/pusher.min.js"></script>
<script type="text/javascript" src="/assets/event-stream.js"></script>
<script type="text/javascript" src="/assets/event-visualization.js"></script>

<h1>Events</h1>

<div id='mynetwork' style="height:800px"></div>
<script type="text/javascript">

  var elephant = Elephant();

  const diagram = elephant.createBlankNetworkDiagram('mynetwork');

  retrieveAllEvents().then(events => showEventBubbles(diagram, events));

  listenForPusherEvents(({ id, message, prior_event_id }) => {
    diagram.nodes.add({ id: id, label: message });
    diagram.edges.add({ from: id, to: prior_event_id });
  });

</script>


