<div class="row">

  <div class="col-md-12">

    <div class="box box-info">
      <div class="box-header">
        <h1 class="box-title">Events</h1>
      </div>
    </div>

  </div>


</div>

<script type="text/javascript">

var func = function() {
};

document.addEventListener('DOMContentLoaded', func);

</script>
