<div class="row">

  <div class="col-md-4">

    <div class="box box-info">
      <div class="box-header">
        <h3 class="box-title">Incoming Event</h3>
      </div>
      <div class="box-body pad">
        <div id="incoming_data_editor" style="height:400px"></div>
      </div>
    </div>

  </div>

  <div class="col-md-4">

    <div class="box box-info">
      <div class="box-header">
        <h3 class="box-title">Action</h3>
      </div>
      <div class="box-body pad">
      </div>
    </div>

    <div class="box box-info">
      <div class="box-header">
        <h3 class="box-title">Step</h3>
      </div>
      <div class="box-body pad">
        <div id="step_editor" style="height:400px"></div>
      </div>
    </div>

  </div>

  <div class="col-md-4">

    <div class="box box-info">
      <div class="box-header">
        <h3 class="box-title">Outgoing Events</h3>
      </div>
      <div class="box-body pad">
        <div id="outgoing_data_editor" style="height:400px"></div>
      </div>
    </div>

  </div>

</div>

<script type="text/javascript">

var func = function() {

  var step = {
    'type': 'EventFormatter',
    'config': {
      'data_merge': 'merge',
      'instructions': {
        'full_name': '{{first_name}} {{last_name}}'
      }
    }
  };

  var stepEditor = JsonEditor.create( { id: 'step_editor', data: step } );
  var incomingEventDataEditor = JsonEditor.create( { id: 'incoming_data_editor', data: step } );
  var outgoingEventDataEditor = JsonEditor.create( { id: 'outgoing_data_editor', data: {a:'b'}, mode: 'view' } );

};

document.addEventListener('DOMContentLoaded', func);

</script>
