<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function(){
    jQuery('#create').click(function(x){
      var data = {
        id: jQuery('[data-map=id]').val()
      };
      jQuery.post('/overt/workflows/create-workflow', data, function(){
        window.location = '/overt/workflows/view/' + data.id;
      });
    });
  });
</script>

<h1>Create a New Workflow</h1>

<span>/</span>
<span><a href="/overt/workflows">Workflows</a></span>
<span>/</span>
<span>Create a New Workflow</span>

<fieldset>
  <legend>Fields</legend>
    <label for="id">Id</label>
    <input type="text" name="id" data-map="id" value="<%=h SecureRandom.uuid %>" data-map="id" required>
    <button id="create">Create This Workflow</button>
</fieldset>