<h1><%=h @workflow.id %></h1>
<fieldset>
    <legend>Step</legend>
    <% @step_types.each do |step_type| %>
      <details>
        <summary><%=h step_type[:name] %></summary>
        <p>
          <%=h step_type[:name] %>
        </p>
        <button data-id="<%= step_type[:id] %>">Use This</button>
      </details>
    <% end %>
</fieldset>