<h1><%=h @workflow.id %></h1>
<fieldset>
    <legend>Step</legend>
    <% @step_types.each do |step_type| %>
      <details>
        <summary><%=h step_type[:id] %></summary>
        <p>
        <%=h step_type[:id] %>
        </p>
      </details>
    <% end %>
</fieldset>