<span><a href="/overt">Home</a></span>
<span>/</span>
<span>Runs</span>

<table>
    <thead>
    <tr>
        <td>Run</td>
    </tr>
    </thead>
    <tbody>
        <% @runs.each do |run| %>
          <tr>
            <td>
              <a href="/overt/runs/view/<%=h run.id %>">
                <%=h run.id %>
              </a>
            </td>
          </tr>
        <% end %>
    </tbody>
<table>
