<script type="text/javascript">
  jQuery.ajax( {
    method: 'GET',
    url: '/overt/runs/event_json/<%= @event.id %>',
    success: function(data) {
               JsonEditor.create({
                 id: 'event',
                 data: data.event
               });
             }
  });
</script>

<h1>View <%= @event.id %></h1>

<% if @parent_event %>
  <div><a href="/overt/runs/view_event/<%= @parent_event.id %>"><%= @parent_event.message %></a></div>
<% end %>

<div id="event"></div>