<script type="text/javascript">
  jQuery.ajax( {
    method: 'GET',
    url: '/records/json/<%= @record.id %>',
    success: function(data) {
               JsonEditor.create( { id: 'record', data: data.data } );
             }
  } );
</script>

<h1>View <%= @record[:name] %></h1>

<div id="record"></div>