<script type="text/javascript">
  jQuery.ajax( {
    method: 'GET',
    url: '/overt/runs/json/<%= @run.id %>',
    success: function(data) {
                 console.log(data);
             }
  } );
</script>

<h1>View <%= @run.id %></h1>

<div id="record"></div>