<h1>Workflows</h1>

<span>Workflows</span>

<table>
  <thead>
    <tr>
      <td>Name</td>
    </tr>
  </thead>
  <tbody>
    <% @workflows.each do |workflow| %>
      <tr>
        <td><a href="/overt/workflows/view/<%= workflow.id %>"><%= workflow.id %></a></td>
      </tr>
    <% end %>
  </tbody>
<table>