<table>
  <thead>
    <tr>
      <td>Workflow</td>
    </tr>
  </thead>
  <tbody>
    <% @workflows.each do |workflow| %>
      <tr>
        <td><a href="/overt/workflow/view/<%= workflow.id %>"><%= workflow.id %></a></td>
      </tr>
    <% end %>
  </tbody>
<table>