<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <div id="eventData" style="height: 400px;"></div>
      <button id="fire">Fire</button>
    </div>
    <div class="col-6">
    </div>
  </div>
</div>

<script type="text/javascript">

var func = function() {

  var setUpTheJsonEditor = function (params) {

    var container = document.getElementById(params.id);
    var options = {};
    var editor = new JSONEditor(container, options);

    editor.set(params.data);

    return editor;
  };

  var eventData = {
    url: 'https://www.google.com',
  }

  var eventEditor = setUpTheJsonEditor( { id: 'eventData', data: eventData } )

  $('#fire').click(function()
  {
    var success = function(x) { console.log(x); };
    jQuery.post('/manual_input/fire', { event_data: eventEditor.get() }, success);
  });

};

document.addEventListener("DOMContentLoaded", func);


</script>
