<div class="row">

  <div class="col-md-12">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Runs</h3>
      </div>
      <div class="box-body">
        <table class="table table-bordered">
	<tbody>
	  <tr>
	    <th>Name</th>
	  </tr>
          <% @runs.each do |run| %>
	    <tr>
	      <td><a href="/runs/view/<%= run.id %>"><%= run.id %></a></td>
	      <td><%= run.workflow_id %></td>
	    </tr>
	  <% end %>
	</tbody>
	</table>
      </div>
      <div class="box-footer">
      </div>
    </div>
  </div>

</div>

<script type="text/javascript">

var func = function() {
};

jQuery(func);

</script>
